@import '../shared/utils';

.logo {
  max-width: 150px;
  display: block;
  margin: 50px auto;
}

.header {
  text-align: center;
  color: $text-color;
  font-weight: 600;
  font-size: 60px;
}

.pokemon_logo {
  max-width: 250px;
  animation: scalePokemonLogo 0.7s;
  transform: translateY(-10px);
}
